
ul {
    padding: 0 !important;
}
li {
    list-style: none; 
       
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(11, 154, 197);
    text-decoration: none;
}

.main {
    
    margin-bottom: 15vh;
}





.main__posttitle {
    font-weight: 200;
    margin: 5px 5px 5px 5px !important;
}
